<ScrollView
    [visibility]="isItemVisible ? 'visible' : 'collapsed'"
>
    <StackLayout
        orientation="vertical" 
        class="page-content"
    >
        <Label
            text="Stabilirea detaliilor programării"
            class="page-title"
        ></Label>

        <Label 
            text="Pentru a putea continua, vă rugăm a completa toate câmpurile de mai jos!" 
            class="nota-bene"
            textWrap="true"
        ></Label>

        <StackLayout>
            <Label 
                text="Unde? " 
                class="page-subtitle"
            ></Label>
            <PickerField
                #pickerField
                hint="Alegeți centrul de donare..." 
                [items]="listPickerCenters"
                pickerTitle="Alegerea centrului de donare"
            >
            </PickerField>
        </StackLayout>

        <StackLayout class="m-10"></StackLayout>

        <StackLayout>
            <Label 
                text="Când? " 
                class="page-subtitle"
            ></Label>
            <DateTimePickerFields
                #dateTimePickerFields
                class="date-time-picker"
                [minDate]="minDate" 
                [maxDate]="maxDate"
                hintDate="Alegeți ziua..." 
                hintTime="Alegeți ora..."
                pickerOkText="Bine"
                dateFormat="E, d MMMM yyyy"
                timeFormat="HH:mm"
                locale="ro-MD"
                pickerTitleDate="Ziua programării" 
                pickerTitleTime="Ora programării"
                autoPickTime="false"
            ></DateTimePickerFields>
        </StackLayout>

        <StackLayout class="hr-light m-10"></StackLayout>
        
        <FlexboxLayout class="button-row">
            <Button
                text="Renunțare" 
                class="btn-primary-one-row"
                (tap)="cancel()"
            ></Button>
            <Label width="18"></Label>
            <Button
                text="Continuare" 
                class="btn-primary-one-row"
                (tap)="goNext()"
            ></Button>
        </FlexboxLayout>
    </StackLayout>
</ScrollView>

<router-outlet></router-outlet>

