<ActionBar class="action-bar">
    <Label 
        class="action-bar-title" 
        text="Donează sânge"
    ></Label>
</ActionBar>

<ListView
    class="list-group page-content"
    [items]="infoText"
    orientation="vertical"
>
    <ng-template 
        let-infoItem="item" 
        let-i="index"
    >
        <StackLayout>
            <Label
                text="De ce să donez?"
                class="page-title"
                *ngIf="infoText.isFirstIndex(i)"
            ></Label>

            <StackLayout orientation="horizontal">
                <Label 
                    text="{{i + 1}}."
                    width="40"
                    fontWeight="bold"
                    textAlignment="center"
                ></Label>
                <Label 
                    text="{{ infoItem }}"
                    textWrap="true"
                    fontSize="18"
                ></Label>
            </StackLayout>

            <Button
                text="Continuare" 
                class="btn-primary-one-row"
                *ngIf="infoText.isLastIndex(i)"
                [nsRouterLink]="['schedule/default']" 
                marginTop="15"
            ></Button>

        </StackLayout>
    </ng-template>
</ListView>
