<ActionBar class="action-bar">
    <Label 
        class="action-bar-title" 
        text="Donează sânge"
    ></Label>
</ActionBar>

<ScrollView>
    <StackLayout class="page-content">

        <Label
            text="De ce să donez?" 
            class="h2 m-5"
        ></Label>

        <StackLayout orientation="vertical">
            <ol>
                <li *ngFor="let infoItem of infoText; let i = index">
                    <StackLayout orientation="horizontal">
                        <Label 
                            text="{{i + 1}}."
                            width="40"
                            fontWeight="bold"
                            textAlignment="center"
                        ></Label>
                        <Label 
                            text="{{ infoItem }}"
                            textWrap="true"
                        ></Label>
                    </StackLayout>
                </li>
            </ol>
        </StackLayout>

        <StackLayout class="hr-light m-10"></StackLayout>
        
        <Button
            text="Continuare" 
            class="btn-primary-one-row"
            [nsRouterLink]="['schedule/default']" 
        ></Button>
    
    </StackLayout>
</ScrollView>