<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Acasă"></Label>
</ActionBar>

<Page 
    xmlns="http://schemas.nativescript.org/tns.xsd" 
    navigatingTo="onNavigatingTo" 
    class="page"
>
    <GridLayout 
        columns="*" rows="*, *, *"
        orientation="vertical" 
        width="400"  
        height="400" 
        backgroundColor="white"
    >
        <!-- <TextField [(ngModel)]="location" placeholder="Localitatea"></TextField> -->
        
        <StackLayout col="0" row="0">
            <Label text="Unde?"></Label>
            <PickerField 
                hint="Alegeți centrul de donare" 
                [items]="listPickerCenters"
                height="250"
            ></PickerField>
        </StackLayout>

        <StackLayout col="0" row="1">
            <Label text="Când?"></Label>
            <DateTimePickerFields 
                minDate="1970-01-01" 
                maxDate="2100-12-31"
                hintDate="Alege ziua..." 
                hintTime="Alege ora..."
                pickerOkText="Bine"
                height="300"
            ></DateTimePickerFields>
        </StackLayout>
        
        <Button 
            col="0" row="2"
            text="Continuă" 
            class="btn btn-primary" 
            width="200" 
            height="50" 
            backgroundColor="red"
            [nsRouterLink]="['../checklist']" 
        ></Button>


    </GridLayout>
</Page>
