@import "login.component";

.login-page {
  margin-top: 24;
  align-items: center;
  flex-direction: column;
}

.logo {
  height: 264;
  vertical-align: middle;
  horizontal-align: center;
  margin: 0;

  .logo-image {
    height: 88;
    margin: 8;
  }

  .logo-text {
    font-size: 25;
    font-weight: 500;
    text-align: center;
    color: $bloodyRed;
  }
}

.form {
  margin-left: 30;
  margin-right: 30;
  flex-grow: 2;
  vertical-align: middle;

  .input {
    font-size: 18;
    margin-bottom: 25;
    placeholder-color: darkGray;
    width: 96%;
  }
}

.btn-login {
  height: 50;
  margin: 20 5 15 5;
  background-color: $bloodyRed;
  color: white;
  font-size: 20;
  font-weight: 500;
  width: 70%;
  android-elevation: 8;
  android-dynamic-elevation-offset: 8;

  &:highlighted {
    background-color: white;
    color: $bloodyRed;
  }
}

.login-label {
  horizontal-align: center;
  color: darkGray;
  font-size: $baseFontSize;
}

.sign-up-label {
  margin-bottom: 20;
}

.bold {
  color: black;
}
