<FlexboxLayout class="page">
	<StackLayout class="form">
		<Image class="logo" src="res://login"></Image>
		<Label class="header" text="eDrop"></Label>

		<StackLayout class="input-field">
			<TextField 
				class="input" 
				hint="Email" 
				keyboardType="email"
				autocorrect="false"
				autocapitalizationType="none" 
				[(ngModel)]="user.email" 
				returnKeyType="next" 
				(returnPress)="focusPassword()"
			></TextField>
			<StackLayout class="hr-light"></StackLayout>
		</StackLayout>

		<StackLayout class="input-field">
			<TextField 
				#password 
				class="input" 
				hint="Parola" 
				secure="true" 
				[(ngModel)]="user.password" 
				[returnKeyType]="isLoggingIn ? 'done' : 'next'" 
				(returnPress)="focusConfirmPassword()"
			></TextField>
			<StackLayout class="hr-light"></StackLayout>
		</StackLayout>

		<StackLayout *ngIf="!isLoggingIn" class="input-field">
			<TextField 
				#confirmPassword 
				class="input" 
				hint="Confirmați parola" 
				secure="true" 
				[(ngModel)]="user.confirmPassword" 
				returnKeyType="done"
			></TextField>
			<StackLayout class="hr-light"></StackLayout>
		</StackLayout>

		<Button 
			[text]="isLoggingIn ? 'Conectați-vă' : 'Înregistrați-vă'" 
			(tap)="submit()" 
			class="btn btn-primary m-t-20"
		></Button>
		<Label 
			*ngIf="isLoggingIn" 
			text="Ați uitat parola?" 
			class="login-label" 
			(tap)="forgotPassword()"
		></Label>
	</StackLayout>

	<Label class="login-label sign-up-label" (tap)="toggleForm()">
		<FormattedString>
			<Span [text]="isLoggingIn ? 'Nu aveți cont? ' : 'Întoarceți-vă la Login'"></Span>
			<Span [text]="isLoggingIn ? 'Înregistrați-vă' : ''" class="bold"></Span>
		</FormattedString>
	</Label>
	<router-outlet></router-outlet>
</FlexboxLayout>
