<ScrollView>
	<FlexboxLayout class="login-page">
		<StackLayout class="logo">
			<Image 
				class="logo-image" 
				src="res://ic_launcher"
			></Image>
			<Label 
				class="logo-text" 
				text="eDrop"
			></Label>
		</StackLayout>
		<StackLayout class="form">

			<TextField 
				autocapitalizationType="none" 
				autocorrect="false"
				class="input" 
				hint="Adresa de e-mail" 
				keyboardType="email"
				[(ngModel)]="user.email" 
				returnKeyType="next" 
				(returnPress)="focusPassword()"
			></TextField>

			<TextField 
				#password 
				class="input" 
				hint="Parola" 
				[(ngModel)]="user.password" 
				[returnKeyType]="isLoggingIn ? 'done' : 'next'" 
				(returnPress)="focusConfirmPassword()"
				secure="true" 
			></TextField>

			<TextField
				#confirmPassword 
				class="input" 
				hint="Confirmați parola" 
				*ngIf="!isLoggingIn" 
				[(ngModel)]="user.confirmPassword" 
				returnKeyType="done"
				secure="true" 
			></TextField>

			<Button
				class="btn-login"
				[text]="isLoggingIn ? 'Conectare' : 'Înregistrare'" 
				(tap)="submit()" 
			></Button>
			<Label
				class="login-label" 
				*ngIf="isLoggingIn" 
				text="Ați uitat parola?" 
				(tap)="forgotPassword()"
			></Label>
		</StackLayout>

		<Label 
			class="login-label sign-up-label"
			(tap)="toggleForm()"
		>
			<FormattedString>
				<Span [text]="isLoggingIn ? 'Nu aveți cont? ' : 'Întoarceți-vă la Login'"></Span>
				<Span
					class="bold"
					[text]="isLoggingIn ? 'Înregistrați-vă' : ''" 
				></Span>
			</FormattedString>
		</Label>
	</FlexboxLayout>
</ScrollView>
