<ScrollView>
    <StackLayout class="page-content">
        <ng-container
            *ngIf="!scheduled; then titleBeforeConfirmation; else titleAfterConfirmation">
        </ng-container>
          
        <ng-template #titleBeforeConfirmation>
            <Label
                text="Verificare înainte de trimitere" 
                class="page-title"
            ></Label>
        </ng-template>
        <ng-template #titleAfterConfirmation>
            <Label
                text="Programare realizată cu succes!" 
                class="page-title"
            ></Label>
            <Label
                text="Detaliile programării :" 
                class="page-subtitle"
            ></Label>
        </ng-template>


        <StackLayout class="table-row">
            <Label
                class="property"
                text="Nume donator"
            ></Label>
            <Label 
                class="value"
                text="{{ bookingTicket.person.getFullName() }}"
            ></Label>
        </StackLayout>
        <!------------------------------------------------------>
        <StackLayout class="table-row">
            <Label 
                class="property"
                text="Centrul de donare"
            ></Label>
            <Label 
                class="value" 
                text="{{ bookingTicket.location }}"
            >
            </Label>
        </StackLayout>
        <!------------------------------------------------------>
        <StackLayout class="table-row">
            <Label 
                class="property"
                text="Data și ora programării"
            ></Label>
            <Label 
                class="value" 
                text="{{ bookingTicket.date | date: 'dd MMMM yyyy, orele HH:mm': 'undefined':'ro-MD' }}"
            >
            </Label>
        </StackLayout>
        <!------------------------------------------------------>
        <StackLayout 
            class="table-row"
            *ngIf="scheduled === true"
            color="blue"
        >
            <Label 
                class="property"
                text="Bon de ordine"
            ></Label>
            <Label 
                class="value" 
                text="{{ bookingTicket.ticketNumber }}"
            >
            </Label>
        </StackLayout>

        <Label class="blank-divider"></Label>

        <FlexboxLayout 
            class="button-row"
            *ngIf="scheduled === false"
        >
            <Button
                text="Înapoi" 
                class="btn-primary-one-row"
                width="74"
                (tap)="goBack()"
            ></Button>
            <Label width="8"></Label>
            <Button
                text="Renunțare" 
                class="btn-primary-one-row"
                width="114"
                (tap)="cancel()"
            ></Button>
            <Label width="8"></Label>
            <Button
                text="Confirmare" 
                class="btn-primary-one-row"
                (tap)="finalizeBooking()"
                width="122"
            ></Button>
        </FlexboxLayout>
        
        <FlexboxLayout 
            *ngIf="scheduled === true"
            class="button-row"
        >
            <Button
                text="Imprimă" 
                class="btn-primary-one-row"
                (tap)="printTicket()"
            ></Button>
            <Label width="18"></Label>
            <Button
                text="Încheiere" 
                class="btn-primary-one-row"
                (tap)="exitSchedulePane()"
            ></Button>
        </FlexboxLayout>

    </StackLayout>
</ScrollView>