<ActionBar class="action-bar">
    <Label 
        class="action-bar-title" 
        text="Mai multe..."
    ></Label>
</ActionBar>

<GridLayout class="page page-content">
    <ListView 
        [items]="items" 
        class="list-group"
    >
        <ListView.itemTemplate>
            <ng-template let-item="item">
                <Label 
                    [nsRouterLink]="['../item', item.id]" 
                    [text]="item.name" 
                    class="list-group-item"
                ></Label>
            </ng-template>
        </ListView.itemTemplate>
    </ListView>
</GridLayout>