<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Chestionar"></Label>
</ActionBar>

<Page 
    xmlns="http://schemas.nativescript.org/tns.xsd" 
    navigatingTo="onNavigatingTo" 
    class="page"
>

    <ScrollView>
        <StackLayout 
            orientation="vertical"
            width="400"
            height="600"
            backgroundColor="lightgray"
        >

            <!-- <PDFView [src]="src" (load)="onLoad()"></PDFView> -->
            <Image src="res://checklist"></Image>
        
            <Button
                text="Continuați" 
                class="btn btn-primary"
                width="200"
                height="50"
                backgroundColor="red"
                [nsRouterLink]="['../schedule']" 
            ></Button>
        </StackLayout>
    </ScrollView>
</Page>
