<ListView 
    class="page-content" 
    [items]="checklistQuestions"
    orientation="vertical"
>
    <ng-template 
        let-question="item" 
        let-i="index"
    >
        <StackLayout>
            
            <Label
                text="Chestionar preliminar"
                class="page-title"
                *ngIf="checklistQuestions.isFirstIndex(i)"
            ></Label>

            <FlexboxLayout
                class="list-group-item"
                justifyContent="flex-end"
            >
                <HtmlViewer
                    class="question-label"
                    [html]="question.htmlText"
                >
                </HtmlViewer>

                <Label width="116"></Label>
 
                <StackLayout class="checkbox">
                    <CheckBox 
                        #yesCheckbox 
                        boxType="square"
                        [checked]="question.positiveAnswer"
                        (checkedChange)="yesCheckbox.checked !== question.positiveAnswer && question.changeCheckedRadio('DA')"
                        checkStyle="checkbox_selector"
                        text="DA" 
                    ></CheckBox>

                    <Label class="blank-divider-smaller"></Label>

                    <CheckBox 
                        #noCheckbox 
                        boxType="square"
                        [checked]="question.negativeAnswer"
                        (checkedChange)="noCheckbox.checked !== question.negativeAnswer && question.changeCheckedRadio('NU')"
                        checkStyle="checkbox_selector"
                        text="NU" 
                    ></CheckBox>
                </StackLayout>
            </FlexboxLayout>
            
            <FlexboxLayout
                class="button-row"
                *ngIf="checklistQuestions.isLastIndex(i)"
            >
                <Button
                    text="Renunțare" 
                    class="btn-primary-one-row"
                    (tap)="cancel()"
                ></Button>
                <Label width="18"></Label>
                <Button
                    text="Continuare" 
                    class="btn-primary-one-row"
                    (tap)="check()"
                ></Button>
            </FlexboxLayout>
        </StackLayout>
    </ng-template>
</ListView>
