@import 'dashboard.component';


// Place any CSS rules you want to apply only on Android here
TabView {
    @include font-icon;
    android-selected-tab-highlight-color: $blueDark;
    selected-tab-text-color: red;
    tab-text-color: $blueDark;
    tab-text-font-size: $tabFontSize;
}
