<TabView androidTabsPosition="bottom">

    <page-router-outlet
        *tabItem="{title: '&#xf015;\nAcasă'}"
        name="homeTab"
        actionBarVisibility="auto"
    ></page-router-outlet>

    <page-router-outlet
        *tabItem="{title: '&#xe90b;\nDonează'}"
        name="donationTab"
        actionBarVisibility="auto"
    ></page-router-outlet>

    <page-router-outlet
        *tabItem="{title: '&#xe9da;\nBeneficii'}"
        name="bountyTab"
        actionBarVisibility="auto"
    ></page-router-outlet>

    <page-router-outlet
        *tabItem="{title: '&#xf0c9;\nMai multe'}"
        name="searchTab"
        actionBarVisibility="auto"
    ></page-router-outlet>

</TabView>