<ActionBar class="action-bar">
    <Label 
        class="action-bar-title"
        text="Beneficii"
    ></Label>
</ActionBar>

<StackLayout 
    orientation="vertical"
    width="100%"
    backgroundColor="white"
    class="page-content"
>
    <ListView 
        class="list-group" 
        [items]="companies" 
        (itemTap)="onItemTap($event)"
        [height]="height"
    >
        <ng-template let-company="item">
            <FlexboxLayout 
                flexDirection="row" 
                class="list-group-item"
                verticalAlignment="center"
                padding="10"
            >
                <Image 
                    [src]="company.imageSrc" 
                    class="thumb img-circle"
                ></Image>
                <Label 
                    [text]="company.name" 
                    fontSize="18"
                    verticalAlignment="center"
                    paddingTop="8"
                ></Label>
            </FlexboxLayout>
        </ng-template>
    </ListView>
</StackLayout>
