<ActionBar class="action-bar">
    <Label 
        class="action-bar-title"
        text="Beneficii"
    ></Label>
</ActionBar>

<ListView 
    class="page-content" 
    [items]="companies" 
    (itemTap)="onItemTap($event)"
    orientation="vertical"
>
    <ng-template let-company="item">
        <FlexboxLayout class="list-group-item">
            <Image
                class="list-thumb"
                [src]="company.imageSrc" 
            ></Image>
            <Label
                class="list-label"
                [text]="company.name" 
            ></Label>
        </FlexboxLayout>
    </ng-template>
</ListView>
