
// Custom colors
$bloodyRed: #d51a1a !default;
$blueDark: #022734 !default;

// Sizes
$baseFontSize: 16;
$tabFontSize: 10;

/**
 * Theme variables overrides
**/

// Colors

// SideDrawer

// ActionBar

// Buttons

// Text colors

// TabView
