// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

// Font icon class
@mixin font-icon {
  font-family: "icomoon";
}

@mixin btn-primary {
  background-color: red;
  border: 1;
  border-color: red;
  border-radius: 5;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
  color: white;
  font-family: "sans-serif";
  font-size: 17;
  font-weight: 400;
  margin-bottom: 15;
  margin-top: 15;
  padding: 0;
  text-align: center;
  width: 136;

  &:highlighted {
    color: red;
    background-color: white;
  }
}

// Common page class
.page-content {
  align-items: stretch;
  background-color: white;
  flex-direction: column;
  font-family: "sans-serif";
  font-size: 16;
  margin-left: 8;
  margin-right: 8;
  vertical-align: top;
}

//Action bar
.action-bar-app {
  background-color: white;

  .action-bar-title {
    color: rgba(255, 0, 0, .8);
    font-size: 24;
    font-weight: normal;
    horizontal-align: left;
    padding-top: -24;
    vertical-align: middle;
    @include font-icon;
  }
}

.action-bar {
  background-color: rgba(255, 0, 0, .8);
  height: 30;
  margin: 0;
  padding: 0;

  .action-bar-title {
    color: white;
    font-family: "sans-serif";
    font-size: 20;
    font-weight: bold;
    horizontal-align: center;
    margin: 0;
    vertical-align: middle;
  }
}

.btn-primary-one-row {
  @include btn-primary;
  height: 32;
}

.btn-primary-two-rows {
  @include btn-primary;
  height: 48;
  line-height: 2;
}

.btn-disabled {
  cursor: not-allowed;
  opacity: .6;
}

.page-title {
  color: black;
  font-family: "sans-serif";
  font-size: 20;
  horizontal-align: left;
  margin-bottom: 18;
  margin-left: 0;
  margin-top: 22;
  padding-left: 0;
}

.page-subtitle {
  color: darkBlue;
  font-size: 18;
  horizontal-align: left;
  margin-bottom: 4;
  margin-top: 4;
}

.nota-bene {
  font-size: 16;
  font-style: italic;
  horizontal-align: left;
  margin-bottom: 10;
  margin-top: 2;
  padding-right: 2;
}

.button-row {
  align-items: stretch;
  flex-direction: row;
  horizontal-align: center;
}

.list-group-item {
  align-items: center;
  flex-direction: row;
  font-size: 16;
  orientation: horizontal;
  padding-bottom: 10;
  padding-left: 5;
  padding-right: 5;
  padding-top: 10;
  vertical-align: center;
}

.blank-divider-smaller {
  height: 16;
  width: 16;
}

.blank-divider {
  height: 24;
  width: 24;
}

.blank-divider-larger {
  height: 32;
  width: 32;
}

// NB: HtmlViewer only supports three style properties: 
//  - color, 
//  - font-family (fontFamily) and 
//  - font-size (fontSize)
.html-viewer {
  color: gray;
  font-family: "sans-serif";
  font-size: 16;
}
