/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
/*@import '~nativescript-theme-core/css/core.light.css';*/
@import "../node_modules/nativescript-theme-core/css/sky.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn {
    font-size: 18;
    color:#FFFFFF;
}

.layoutBackgroundImageFromRes {
    background-image: url("res://logo");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.layoutDonateEnabledImageFromRes {
    background-image: url("res://icon");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.layoutDonateDisabledImageFromRes {
    background-image: url("res://icon_grey");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.layoutDashboardBackgroundImageFromRes {
    background-image: url("res://dashboard");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.btn-quick-app {
    background:#FF0000;
    border-radius:50%;
    color:#FFFFFF;
    border-color:#FF0000;
    height:45;
    width:85%;
    margin-bottom:0;
    text-transform: none;
}

.btn-quick-app:hover, .btn-quick-app:active, .btn-quick-app:focus {
    background:#FFFFFF;
    color:#FF0000;
}

.btn-login-now {
    background:#FFFFFF;
    border-radius:50%;
    color:#FF0000;
    border-color:#FF0000;
    height:45;
    width:85%;
    margin-top:6;
    margin-bottom:53;
    text-transform: none;
}

.btn-login-now:hover, .btn-login-now:active, .btn-login-now:focus {
    background:#FF0000;
    color:#FFFFFF;
}

#home-paragraph {
    font-size:17;
    width:80%;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.04px;
    margin-bottom:10;
    line-height: 7;
}

#login-paragraph {
    font-size:17;
    width:80%;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.04px;
    margin-bottom:10;
    line-height: 7;
    color: blue;
}

.textcenter {
    text-align: center;
}

.menu-button {
    border-width: 0;
}
