@import "home.component";

.chart {
  background-color: seaShell;
  border-color: antiqueWhite;
  border-width: 1;
  height: 200;
}

.highlight {
  color: black;
  font-family: "monospace";
  font-size: 18;
  font-weight: bold;
  horizontal-align: center;
  vertical-align: middle;
}

.stats-box {
  background-color: beige;
  border-color: antiqueWhite;
  border-width: 1;
  font-size: 14;
  padding: 1;
  margin: 2;

  .stats-label {
    text-wrap: true;
    width: 120;
  }
}
