<Page navigatingTo="onNavigatingTo" class="page" xmlns="http://schemas.nativescript.org/tns.xsd">
    <ActionBar class="action-bar">
        <Label 
            class="action-bar-title" 
            text="eDrop"
            class="font-weight-bold" 
            color="white"
        ></Label>
    </ActionBar>

    <ScrollView class="layoutBackgroundImageFromRes">
        <StackLayout class="p-t-15" background>
            <DockLayout stretchLastChild="true">
                <Button 
                    class="btn btn-outline btn-rounded-sm" 
                    text="Înregistrare" 
                    tap="onSignupButtonTap"
                    color="red"
                    dock="bottom"
                ></Button>
            </DockLayout>
        </StackLayout>
    </ScrollView>
</Page>