<ActionBar class="action-bar">
    <Label 
        class="action-bar-title"
        text="Acasă"
    ></Label>
</ActionBar>

<ScrollView class="page-content">

    <GridLayout 
        rows="*, auto, auto, auto, auto, auto, auto"
        height="950px"
    >
        <RadCartesianChart row="0">
            <Palette 
                seriesName="bloodDonatedSeries" 
                tkCartesianPalette
                seriesState="Normal"
            >
                <PaletteEntry 
                    tkCartesianPaletteEntry 
                    fillColor="Yellow"
                    strokeWidth="2"
                    strokeColor="Red"
                ></PaletteEntry>
                <PaletteEntry 
                    tkCartesianPaletteEntry 
                    fillColor="Yellow"
                    strokeWidth="2"
                    strokeColor="Red"
                ></PaletteEntry>
                <PaletteEntry 
                    tkCartesianPaletteEntry 
                    fillColor="Yellow"
                    strokeWidth="2"
                    strokeColor="Red"
                ></PaletteEntry>
                <PaletteEntry 
                    tkCartesianPaletteEntry 
                    fillColor="Yellow"
                    strokeWidth="2"
                    strokeColor="Red"
                ></PaletteEntry>
                <PaletteEntry 
                    tkCartesianPaletteEntry 
                    fillColor="Green"
                    strokeWidth="2"
                    strokeColor="Red"
                ></PaletteEntry>
                <PaletteEntry 
                    tkCartesianPaletteEntry 
                    fillColor="Green"
                    strokeWidth="2"
                    strokeColor="Red"
                ></PaletteEntry>
            </Palette>
            
            <Palette 
                seriesName="bloodGapSeries" 
                tkCartesianPalette
                seriesState="Normal"
            >
                <PaletteEntry 
                    tkCartesianPaletteEntry 
                    fillColor="White"
                    strokeWidth="2"
                    strokeColor="Red"
                ></PaletteEntry>
            </Palette>

            <CategoricalAxis tkCartesianHorizontalAxis></CategoricalAxis>
            <LinearAxis tkCartesianVerticalAxis labelFormat="%.0f "></LinearAxis>
            <BarSeries 
                tkCartesianSeries 
                seriesName="bloodDonatedSeries"
                [items]="bloodDonated"
                categoryProperty="month" 
                valueProperty="amount"
                paletteMode="Item"
                stackMode="Stack"
            ></BarSeries>    
            <BarSeries 
                tkCartesianSeries 
                seriesName="bloodGapSeries"
                [items]="bloodGap"
                categoryProperty="month" 
                valueProperty="amount"
                paletteMode="Series"
                stackMode="Stack"
            ></BarSeries>
        </RadCartesianChart>

        <StackLayout 
            row="1" 
            class="hr-light m-10"
        ></StackLayout>

        <StackLayout 
            row="2"
            orientation="horizontal"
            class="stats-box"
        >
            <Label 
                text="Recoltări&#010;realizate:" 
                textWrap=true 
                width="120"
            ></Label>
            <Label class="highlight">
                <FormattedString>
                    <Span text="{{ numberOfDonations }}"></Span>
                </FormattedString>
            </Label>
        </StackLayout>
        <StackLayout 
            row="3"
            orientation="horizontal"
            class="stats-box"
        >
            <Label 
                text="Puncte&#010;disponibile:" 
                textWrap=true 
                width="120"
            ></Label>
            <Label class="highlight">
                <FormattedString>
                    <Span text="{{ numberOfCredits }}"></Span>
                </FormattedString>
            </Label>
        </StackLayout>
        <StackLayout 
            row="4"
            orientation="horizontal"
            class="stats-box"
        >
            <Label 
                text="Data ultimei&#010;recoltări:" 
                textWrap=true 
                width="120"
            ></Label>
            <Label class="highlight">
                <FormattedString>
                    <Span text="{{ dateLastDonation | date: 'dd MMMM yyyy': 'undefined':'ro-MD' }}"></Span>
                </FormattedString>
            </Label>
        </StackLayout>

        <StackLayout 
            row="5" 
            class="hr-light m-10"
        ></StackLayout>
        
        <Button 
            row="6"
            text="Programare" 
            class="btn-primary-one-row" 
            [nsRouterLink]="['schedule/default']" 
        ></Button>
    
    </GridLayout>

</ScrollView>
