@import 'home.component';

.highlight {
  color: red;
  font-size: 24;
  font-weight: bold;
  vertical-align: center;
  horizontal-align: center;
}

.stats-box {
  background-color: rgba(128, 64, 64, 0.05);
  border-width: 1;
  border-color: white;
  padding: 5;
  margin: 5;
}