<ActionBar title="Acasă" class="action-bar">
</ActionBar>

<Page 
    xmlns="http://schemas.nativescript.org/tns.xsd" 
    navigatingTo="onNavigatingTo" 
    class="page"
>
    <StackLayout orientation="vertical" width="400" height="400" backgroundColor="white">
        <Button 
            text="Programare rapidă" 
            class="btn btn-primary" 
            width="200" 
            height="100" 
            backgroundColor="red"
            [nsRouterLink]="['../schedule']" 
        ></Button>

        <StackLayout orientation="horizontal" horizontalAlignment="center">
            <Label [text]="glyph" class="page-icon"></Label>
            <Label text="0xe90b" class="page-icon"></Label>
        </StackLayout>

        <GridLayout 
            columns="*, *, *" 
            rows="*" 
            width="400" 
            height="100" 
            backgroundColor="lightgray"
        >
            <Label text="15 donări" row="0" col="0" backgroundColor="red"></Label>
            <Label text="3000 puncte" row="0" col="1" backgroundColor="green"></Label>
            <Label text="12 iulie" row="0" col="2" backgroundColor="blue"></Label>
        </GridLayout>

        <Button
            text="Marketplace" 
            class="btn btn-primary"
            width="200"
            height="50"
            backgroundColor="blue"
            [nsRouterLink]="['../marketplace']" 
        ></Button>

    </StackLayout>
</Page>

<!-- <Page xmlns="http://schemas.nativescript.org/tns.xsd">
    <GridLayout columns="50, auto, *" rows="50, auto, *" width="210" height="210" backgroundColor="lightgray" >
      <Label text="Label 1" row="0" col="0" backgroundColor="red"/>
      <Label text="Label 2" row="0" col="1" colSpan="2" backgroundColor="green"/>
      <Label text="Label 3" row="1" col="0" rowSpan="2" backgroundColor="blue"/>
      <Label text="Label 4" row="1" col="1" backgroundColor="yellow"/>
      <Label text="Label 5" row="1" col="2" backgroundColor="orange"/>
      <Label text="Label 6" row="2" col="1" backgroundColor="pink"/>
      <Label text="Label 7" row="2" col="2" backgroundColor="purple"/>
    </GridLayout>
  </Page> -->

  <!-- <Page xmlns="http://schemas.nativescript.org/tns.xsd" navigatingTo="onNavigatingTo" class="page">
    <Label text="Momentan nu sunteți eligibil pentru donare. Veți deveni disponibil în data de 28 mai 2019."></Label>
    <GridLayout columns="*,2*" rows="2*,3*" width="300" height="300" backgroundColor="lightgray" >
      <Label text="Label 1" col="0" row="0" backgroundColor="red"></Label>
      <Label text="Label 2" col="1" row="0" backgroundColor="green"></Label>
      <Label text="Label 3" col="0" row="1" backgroundColor="blue"></Label>
      <Label text="Label 4" col="1" row="1" backgroundColor="yellow"></Label>
    </GridLayout>
  </Page> -->

<!-- <Page 
    navigatingTo="onNavigatingTo" 
    class="page" 
    xmlns="http://schemas.nativescript.org/tns.xsd">
    <Span text="Momentan nu sunteți eligibil pentru donare. Veți deveni disponibil în data de 28 mai 2019."></Span>
    <GridLayout class="layoutDashboardBackgroundImageFromRes" rows="*,60">
        <ScrollView row="0">
            <WrapLayout orientation="horizontal">

            </WrapLayout>
        </ScrollView>
        <StackLayout row="1">
            <ng-container
                *ngIf="isEligibleForDonation; then eligibleForDonation; else notEligibleForDonation">
            </ng-container>
              
            <ng-template #eligibleForDonation>
                <Button class="layoutDonateEnabledImageFromRes" (tap)="donate()" >
                </Button>
                <div>
                    <Span text="Sunteți eligibil pentru donare!"></Span>
                </div>
            </ng-template>
            <ng-template #notEligibleForDonation>
                <Span text="Momentan nu sunteți eligibil pentru donare. Veți deveni disponibil în data de 28 mai 2019."></Span>
            </ng-template>
            <FormattedString>
                <Span text="Donez"></Span>
            </FormattedString>
            <WrapLayout orientation="horizontal">

            </WrapLayout>
        </StackLayout>
    </GridLayout>
</Page> -->
